replicaCount: 2

image:
  repository: adarshjain428/petclinic
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: "250m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1024Mi"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

db:
  host: petclinic-db        # ✅ Kubernetes Service name
  name: petclinic           # ✅ DB name
  secretName: petclinic-db-secret

# ❌ REMOVE persistence (APP does not need it)
# persistence:
#   enabled: true
#   storageClass: gp3
#   size: 10Gi

istio:
  enabled: true
  gateway: petclinic-gateway
  host: petclinic.example.com

canary:
  enabled: false
  replicas: 1
  tag: canary
  weight: 10

spring:
  profile: prod
